<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/layout.css">
</head>
<body>
    <header>
        <h1>Web Technology </h1>
         
    </header>
    <nav>
        <h3>Navigation Bar</h3>
        <ul>
          
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">AboutUs</a></li>
            <li><a href="">SignUp</a></li>
        </ul>
    </nav>
    <section>
        <aside>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, asperiores! Officiis illo fugiat, ab explicabo voluptatem, nesciunt minima quam possimus quia, fuga tempora commodi quas error. Labore maiores vel illo?</p>
        </aside>
        <article>
            <h2>This is an Article</h2>
            <figure>
                <img src="./img/google.png" alt="google" width="250" height="250">
            </figure>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, quo. Ut, incidunt perferendis. Non cupiditate fuga ipsam omnis nam, totam est voluptatum tempore nostrum nulla voluptates commodi nisi. Quibusdam minima, voluptatibus adipisci reprehenderit, exercitationem atque et sint, quis dolores suscipit saepe eos perferendis esse porro ex. Architecto quis fugit praesentium, sequi molestias placeat aliquid non debitis, minus ipsam commodi voluptate?</p>
        </article>
    </section>
    <div>
        <details>
            <summary>
                Click here for More Info
            </summary>
            <p>This is the Extra info</p>
        </details>>
    </div>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
</html>