*{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.logo img{
    float: left;
    width: 175px;
    height: 135px;
}
ul{
    float: right;
    
    margin-top:35px ;
}
ul li{
    display: inline-block;
    margin-right: 16px;
}
ul li a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    border: 2px solid black;
    padding: 5px 22px;
    border-radius: 7px;
}
ul li a:hover{
    background-color: rgb(211, 15, 15);
    color: white;
    transition: 0.5s;
}
.main{
   
    height: 140px;
    max-width: 1300px;
    margin: auto;
}
.heading{

    position: absolute;
    top: 40%;
    left: 28%;
    
}
.heading h1{
    font-size: 65px;
    color:  rgb(211, 15, 15);
    text-shadow: 5px 5px 3px black;
}
.button{
    position: absolute;
    top: 58%;
    left: 33%;
}
.button a{
    color: white;
    font-size: 37px;
    margin-right: 50px;
    text-decoration: none;
    border: 2px solid white;
    padding: 6px 30px;
    border-radius: 20px;
   
}
#btn1:hover{
    background-color:  white;
    color: rgb(211, 15, 15);
    transition: 0.5s;
    border: 2px solid black;
}
#btn2:hover{
    background-color: rgb(81, 250, 250);
    color: black;
    transition: 0.5s;
 
}